<ion-header>  
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
		  <ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
		  Verb List
		</ion-title>
	  <ion-buttons slot="secondary"> 
		<ion-button (click)="toggleSearching()" >
		  <ion-icon slot="icon-only" name="search" slot="end" ></ion-icon>
		</ion-button> 
		<ion-button>
		  <ion-icon slot="icon-only" name="funnel" slot="end" (click)="sort($event)"></ion-icon>
		</ion-button>
	  </ion-buttons> 
	</ion-toolbar> 
</ion-header>

<ion-content>

	<ion-searchbar [(ngModel)]="terms" 
	*ngIf="isSearching == true"  
	(ionClear)="toggleSearching($e)"
	>
	</ion-searchbar> 

<ion-list lines="full">
    <ion-item *ngFor="let v of verbs | search : terms | sort : {property: column, order: order}" tappable>

			<ion-label>{{v.verb}}<br/>
				<ion-note text-wrap>{{v.definition}}</ion-note>  
			</ion-label>
			 
			<ion-icon size="small" [name]="!v.showDetails?'ios-arrow-down':'ios-arrow-forward'" slot="end"></ion-icon>
 
	</ion-item>
	
</ion-list>
	 
	 




  <!--
    <div *ngIf="selectedItem" padding>
      Y </navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
